# Ignore Python bytecode files
__pycache__/
*.pyc

*.log

*.bat

# cpp grpc stuff
proto/cpp/*.h
proto/cpp/*.cc
proto/cpp/*.pb.h
proto/cpp/*.pb.cc
proto/cpp/*.grpc.pb.cc
proto/cpp/*.grpc.pb.h

# py grpc stuff
proto/py/*.py


# ide stuff
.vs

# Ignore all files in the out directory
out/

# configs
CMakeLists.txt
CMakePresets.json
/.vs
